/**
 * @file ./docs/css/main.css
 * @author https://github.com/j-Cis
 * 
 * @lastmodified 2025-06-12T13:12:07.028Z
 * @description Główne stylizowanie.
 */

.non-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
