/* Główny kontener komponentu */
.whb-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Zapobiega problemom z przepełnieniem */
}

/* Ustawienie kierunku podziału */
.whb-container.whb-row {
  flex-direction: row;
}
.whb-container.whb-col {
  flex-direction: column;
}

.whb-panel {
  overflow: auto; /* Paski przewijania, jeśli zawartość się nie mieści */
}

.whb-box2 {
  flex-grow: 1;
}

/* Pierwszy panel, którego rozmiar kontrolujemy */
.whb-row .whb-box1 {
  width: var(--whb-position);
  flex-shrink: 0;
}
.whb-col .whb-box1 {
  height: var(--whb-position);
  flex-shrink: 0;
}

/* Poprzeczka / Divider */
.whb-divider {
  flex-shrink: 0; /* Zapobiega kurczeniu się dividera */
  background-color: #f0f0f0;
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

.whb-row .whb-divider {
  width: var(--whb-divider-size);
  cursor: col-resize; /* Kursor sugerujący możliwość przeciągania w poziomie */
}
.whb-col .whb-divider {
  height: var(--whb-divider-size);
  cursor: row-resize; /* Kursor sugerujący możliwość przeciągania w pionie */
}

/* Styl dla zablokowanego dividera */
.whb-container.whb-locked .whb-divider {
  cursor: not-allowed;
}

/* Kontrolki na dividerze */
.whb-controls {
  display: flex;
  background-color: #e0e0e0;
  border-radius: 12px;
  padding: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.whb-row .whb-controls {
  flex-direction: column;
}
.whb-col .whb-controls {
  flex-direction: row;
}

/* Przyciski kontrolek */
.whb-controls button {
  border: none;
  background: transparent;
  padding: 4px;
  margin: 1px;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}
.whb-controls button:hover {
  background-color: #cccccc;
}
.whb-container.whb-locked .whb-controls button:not(:first-child) {
  opacity: 0.5;
  cursor: not-allowed;
}
